repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.10.0
  hooks:
    - id: commitizen
      stages: [commit-msg]
    - id: commitizen-branch
      stages: [pre-push]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.14.7'
  hooks:
  - id: ruff-check
    args:
      - '--fix'
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.0
  hooks:
  - id: mypy
    additional_dependencies: [types-requests]
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.407
  hooks:
  - id: pyright
