[tool.poetry]
name = "cert-host-scraper"
version = "0.0.0"
description = ""
authors = ["Malachi Soord <inverse.chi@gmail.com>"]
license = "MIT"

readme = "README.md"
repository = "https://github.com/inverse/cert-host-scraper"
homepage = "https://github.com/inverse/cert-host-scraper"


[tool.poetry.scripts]
cert-host-scraper = "cert_host_scraper.cli:cli"

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.27.1"
click = "^8.0.3"
rich = ">=11,<14"
single-source = "^0.3.0"

[tool.poetry.dev-dependencies]
pytest = "^7.4.1"
pytest-socket = "^0.6.0"
vcrpy = "^5.1.0"

[tool.ruff]
ignore = ["E501"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
