interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://crt.sh/?q=example.org&output=json
  response:
    body:
      string: '[{"issuer_ca_id":185756,"issuer_name":"C=US, O=DigiCert Inc, CN=DigiCert
        TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.org\nwww.example.org","id":6359075900,"entry_timestamp":"2022-03-17T10:02:40.41","not_before":"2022-03-14T00:00:00","not_after":"2023-03-14T23:59:59","serial_number":"0faa63109307bc3d414892640ccd4d9a"},{"issuer_ca_id":185756,"issuer_name":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.org\nwww.example.org","id":6342480680,"entry_timestamp":"2022-03-14T22:48:46.166","not_before":"2022-03-14T00:00:00","not_after":"2023-03-14T23:59:59","serial_number":"0faa63109307bc3d414892640ccd4d9a"},{"issuer_ca_id":185756,"issuer_name":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA[...]
