interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://crt.sh/?q=google.com&output=json
  response:
    body:
      string: "[{\"issuer_ca_id\":1348,\"issuer_name\":\"C=US, O=Google Inc, CN=Google
        Internet Authority G2\",\"common_name\":\"*.google.com\",\"name_value\":\"*.appengine.google.com\\n*.cloud.google.com\\n*.google.com\\ngoogle.com\\n*.google.com.ar\\n*.google.com.au\\n*.google.com.br\\n*.google.com.co\\n*.google.com.mx\\n*.google.com.tr\\n*.google.com.vn\\n*.url.google.com\",\"id\":3955349,\"not_before\":\"2014-04-23T12:16:09\",\"not_after\":\"2014-07-22T00:00:00\",\"serial_number\":\"1dfbc8fe4b30ad03\",\"result_count\":13},{\"issuer_ca_id\":1348,\"issuer_name\":\"C=US,
        O=Google Inc, CN=Google Internet Authority G2\",\"common_name\":\"www.google.com\",\"name_value\":\"www.google.com\",\"id\":3954941,\"not_before\":\"2014-04-23T11:43:12\",\"not_after\":\"2014-07-22T00:00:00\",\"serial_number\":\"251807f4788a3c50\",\"result_count\":2},{\"issuer_ca_id\":1348,\"issuer_name\":\"C=US,
        O=Google Inc, CN=Google Internet Authority G2\",\"common_name\":\"sandbox.google.com\",\"name_value\":\"*.devconsole-t[...]
[...]
