interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://crt.sh/?q=google.com&output=json
  response:
    body:
      string: "[{\"issuer_ca_id\":12254,\"issuer_name\":\"C=NL, O=DigiNotar, CN=DigiNotar
        Public CA 2025, emailAddress=info@diginotar.nl\",\"common_name\":\"*.google.com\",\"name_value\":\"admin@google.com\\n*.google.com\",\"id\":3144337544,\"entry_timestamp\":\"2020-07-26T13:26:21.356\",\"not_before\":\"2011-07-10T19:06:30\",\"not_after\":\"2013-07-09T19:06:30\",\"serial_number\":\"05e2e6a4cd09ea54d665b075fe22a256\",\"result_count\":2},{\"issuer_ca_id\":4,\"issuer_name\":\"C=US,
        O=Google Inc, CN=Google Internet Authority\",\"common_name\":\"*.mail.google.com\",\"name_value\":\"*.docs.google.com\\n*.mail.google.com\\n*.plus.google.com\\n*.sites.google.com\\n*.talkgadget.google.com\",\"id\":2381394777,\"entry_timestamp\":\"2020-01-27T02:30:30.549\",\"not_before\":\"2011-07-13T05:53:39\",\"not_after\":\"2012-07-13T06:03:39\",\"serial_number\":\"3e554a12000300002c7f\",\"result_count\":6},{\"issuer_ca_id\":4,\"issuer_nam[...]
