name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install poetry
      uses: abatilo/actions-poetry@v2.4.0
      with:
        poetry-version: '1.6.1'
    - name: Install pip dependencies
      run: poetry install
    - name: Package
      run: |
        poetry version ${{ github.event.release.tag_name }}
        poetry build
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@v1.8.11
      with:
        user: __token__
        password: ${{ secrets.pypi_token }}
