name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-20.04
    environment:
      name: pypi
      url: https://pypi.org/p/cert-host-scraper
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@master
    - name: Parse .tool-versions
      uses: paulo-ferraz-oliveira/parse-tool-versions@v1
      id: tool-versions
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ steps.tool-versions.outputs.python }}
    - name: Install poetry
      uses: abatilo/actions-poetry@v3.0.0
      with:
        poetry-version: ${{ steps.tool-versions.outputs.poetry }}
    - name: Install pip dependencies
      run: poetry install
    - name: Package
      run: |
        poetry version ${{ github.event.release.tag_name }}
        poetry build
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@v1.10.2
